<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>">
		<storng id="following" class="stat">
			<%= @user.followings.count %>
		</storng>
		following
	</a>
</div>