<% @user ||= current_user %>
<div class="stats">
	<a href="<%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
	</a>
	followers
</div>